div.produkt{
position: relative;
width: 200px;
height: 300px;
margin: 100px;
background-color: azure;
box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
div.produkt img{
    width: 500px;
    height: auto;
    object-fit: cover;
}
div.etykieta{
    position: absolute;
    top:-25px;
    left:-25px;
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}