body {
    margin: 0;
    background: #e5e5e5;
    font-family: Arial, sans-serif;
}
 
.menu {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    gap: 20px;
}
 
.menu li {
    flex: 1;
}
 
.menu a {
    display: block;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: black;
    background-color: #2ecc40;
    
}
 
.menu li:nth-child(even) a {
    background-color: #ff4136;
}
 
.menu a:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
 
 